* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.body {
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
}

.hero-section {
    height: 640px;
    display: flex;
    flex-direction: row;
    background-color: greenyellow;
}

.C-row {
    width: 580px;
    height: 407px;
    align-items: center;
    justify-content: left;
}

.image > img {
    position: absolute;
    justify-content: end;
    left:1247px !important;
    top: 10px;
    background-color: blueviolet;
    border-radius: 0 0 0 0;
}

article{
    width: 80%;
    padding-top : 20px;
    margin : auto;
    text-align: center;
    display: block;

}

article h2 {
    font-weight: bold;
}

article h6 {
    color : blueviolet;
}